@media screen and (min-width: 700px) {
    main div{
        display: flex;
    }

    main img {
        width: 100vw;
    }


    header h1 {
    margin: 0;
    font-size: 5rem;
    padding: 1.5rem;
    }

    .hero {
    display: flex;
    padding: 0px;
    justify-content: center;
    position: relative;
}

.data,
.weather {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.85);
    padding: 1.5rem;
    padding-top: 5rem;
    border-radius: 8px;
    max-width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.title {
    position: absolute;
    background-color: #015c11;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
    z-index: 5;
}

.title2 {
    display: flex;
    justify-content: space-around;
    position: absolute;
    background-color: #015c11;
    color: white;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
    text-align: left;
    z-index: 5;
}

.title2 {
    top: 590px;
    left: 50px;
}

.title {
    bottom: 375px;
    right: 225px
}

.weather_icon {
    width: 25%;
}

.data {
    bottom: 50px;
    right: 150px;
}

.weather {
    top: 600px;
    left: 75px;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #015c11;
    color: #333;
}

}

@media screen and (max-width: 699px) {
    main div{
        grid-template-columns: 1fr;
    }
    main img {
        width: 100vw;
    }

    body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    color: #333;
    }

    .data h2 {
        padding: 10px;
    }

    .data {
        text-align: center;
        border-bottom: dotted;
    }

    .hero {
    display: grid;
    padding: 0px;
    justify-content: center;
    }   

    .title2 {
        align-items: center;
        display: flex;
        justify-content: center;
        flex-direction: column;

    }

    .weather {
        text-align: center;
    }

    .weather_icon {
        max-width: 25%;
    }

    header h1 {
        margin: 0;
        padding: 1.5;
        font-size: 5;
    }
}